<%= form_with(model: @micropost, local: true) do |f| %>
    <div class="form-group">
        <%= f.text_area :status, class: 'form-control', rows: 5 %>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
        <%=f.label "画像をアップロード" %><br><%= f.file_field :img %>

    </div>
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
<% end %>